<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="cUsername" value="" />
    <add key="cRememberMe" value="False" />
    <add key="cServerName" value="THIENPHU" />
    <add key="cDatabaseName" value="MyStore" />
  </appSettings>
  <connectionStrings>
    <add name="MyStoreEntities"
         connectionString="metadata=res://*/MyStoreDatabaseModel.csdl|res://*/MyStoreDatabaseModel.ssdl|res://*/MyStoreDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=THIENPHU;initial catalog=MyStore;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>